.DHForm
{
    position: absolute;
    float: left;
    overflow: hidden;
    margin: 0px;
}

.DHTbForm_titlebar1
{ color: red; font-weight: bold; font-size:14px; }

.DHTbForm_body1
{ border: solid 2px silver; font-size:12px; padding:0px; }

.DHTbForm_bottombar1
{ color : red; font-size:11px; padding:0px;}




.DHTbForm_titlebar2
{  color: white; text-align:center;font-weight:bold; font-size:14px;}

.DHTbForm_body2
{  border: solid 1px black; font-size:12px; padding: 0px; margin: 0px; vertical-align:top; }

.DHTbForm_bottombar2
{ color : yellow; font-size:11px;}


.DHTbForm_titlebar3
{  color: white; text-align:center;font-weight:bold; font-size:14px;}

.DHTbForm_body3
{ border: solid 1px rgb(0,64,128);padding: 0px; font-size:12px; margin: 0px; vertical-align:top; }

.DHTbForm_bottombar3
{  color : yellow; font-size:11px;}